name: Build
on:
  workflow_call:
    inputs:
      arch:
        description: "Target architecture of the kernel."
        required: true
        type: string
      os:
        description: "The os of the runner used to build the kernel."
        required: true
        type: string
      dir:
        description: "The directory containing all build config files."
        required: true
        type: string
      kimage:
        description: "The path of kernel image relative to the source root directory."
        required: true
        type: string

jobs:
  extract-configs:
    runs-on: ${{ inputs.os }}
    outputs:
      configs: ${{ steps.configs.outputs.configs }}
    steps:
    - uses: actions/checkout@v4
    - id: configs
      run: |
          result=""
          for config in ${{ inputs.dir }}/*.yml; do
            if [[ ! -z "$result" ]]; then
              result="$result,"
            fi
            result="$result\"$config\""
          done
          result="[$result]"
          echo "configs: $result"
          echo "configs=$result" >> $GITHUB_OUTPUT

  build:
    needs: extract-configs
    strategy:
      matrix:
        file: ${{ fromJson(needs.extract-configs.outputs.configs) }}
    runs-on: ${{ inputs.os }}
    steps:
    - uses: actions/checkout@v4
    - run: |
        mkdir -p frags
        echo "arch: $(uname -m)"
    - name: parse config file
      id: config
      env:
          CONFIG_FILE: ${{ matrix.file }}
      run: |
          python3 parse_yml.py
    - name: install apt packages
      run: sudo apt update && sudo apt install -y build-essential flex bison libncurses-dev libelf-dev
    - name: parameters
      run: |
        echo "version: ${{ steps.config.outputs.version }}"
        echo "kernel type: ${{ steps.config.outputs.ktype }}"
        echo "frag path: ${{ steps.config.outputs.frag }}"
        cat ${{ steps.config.outputs.frag }}
        echo
    - name: running script to build kernel
      run: ./build_kernel.sh -v ${{ steps.config.outputs.version }} -t ${{ steps.config.outputs.ktype }} -j 4 -f ${{ steps.config.outputs.frag }}
    - name: rename kernel images
      id: rename
      run: |
          ls -la
          SUFFIX=${{ steps.config.outputs.version }}-${{ inputs.arch }}
          VMLINUX=vmlinux-$SUFFIX
          SRC_KERNEL_VERSION=${{ steps.config.outputs.version }}
          if [[ "${{ steps.config.outputs.ktype }}" == "linux" ]]; then
            ROOT_URL="https://cdn.kernel.org/pub/linux/kernel/v$(echo $SRC_KERNEL_VERSION | cut -d"." -f1).x"
            if [[ "$SRC_KERNEL_VERSION" == *.y ]]; then
              SRC_KERNEL_VERSION=$(curl -s $ROOT_URL/ | grep -oE "${SRC_KERNEL_VERSION::-1}[0-9]+" | sort -r -V | head -n1)
            fi
            SRC_KERNEL_VERSION="linux-$SRC_KERNEL_VERSION"
          fi
          OUTPUT_DIR=$SRC_KERNEL_VERSION
          mv $OUTPUT_DIR/vmlinux $VMLINUX
          KIMAGE=$(basename ${{ inputs.kimage }})-$SUFFIX
          mv $OUTPUT_DIR/${{ inputs.kimage }} $KIMAGE
          echo "VMLINUX=$VMLINUX" >> $GITHUB_OUTPUT
          echo "KIMAGE=$KIMAGE" >> $GITHUB_OUTPUT
          echo "SUFFIX=$SUFFIX" >> $GITHUB_OUTPUT
    - name: upload kernel images as artifacts
      uses: actions/upload-artifact@v4
      with:
          name: kimage-artifacts-${{ steps.rename.outputs.SUFFIX }}
          path: |
            steps.rename.outputs.KIMAGE
            steps.rename.outputs.VMLINUX
